html,
body,
#root,
#wrapper {
  height: 100%;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: UberMoveText, sans-serif;
}

header {
  display: block;
  height: 92px;
  align-items: center;
  padding: 0 40px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: block;
  width: auto;
  height: 24px;
  margin: 28px;
}
.deliveryType {
  margin: 3px 8px;
  height: 48px;
  width: 170px;

  background: #eeeeee;
  border-radius: 500px;
  box-sizing: border-box;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}
.hm {
  /*header margin h1*/
  margin: 0.67em;
}
.htbn {
  display: inline;
  padding: 16px 16px;
}
.hbtn {
  display: inline;
  padding: 16px 16px;
}

.hrbtn {
  /*header right buttons*/
  display: inline;
  padding: 20px 16px;
}
.searchLocation {
  text-decoration: none;
}

.cart {
  color: #ffffff;
  background-color: black;
  border-radius: 500px;
  margin-top: 25px;
  height: 8px;
  padding: 12px 16px;
  width: 32px;
}

.cartContent {
  cursor: pointer;
}

.signIn {
  height: 38px;
  width: 72px;
  box-sizing: border-box;
  margin-top: 24px;
  border-radius: 500px;
  color: black;
  background: #eeeeee;
}

.signinContent {
  padding: 10px;
  white-space: nowrap;
}

.main-content {
  padding: 0 40px;
  min-width: 1024px;
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
}

.main-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 24px;
  display: grid;
}

.main-nav {
  grid-column: 1 / -1;
  min-width: 0px;
}

.home-nav {
  display: flex;
  justify-content: center;
}

.home-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.hs5 {
  /*horizontal space*/
  height: 24px;
}

li {
  display: block;
}
.home-nav-list-link {
  max-width: fit-content;
  min-width: 80px;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}

.home-nav-img {
  height: 60px;
  width: 60px;
  position: relative;
}

.home-nav-img2 {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.home-nav-hs8 {
  height: 8px;
}

.home-nav-name {
  text-align: center;
  font-weight: 500;
  font-family: UberMoveText, sans-serif;
  line-height: 16px;
  font-size: 14px;
  width: 100%;
}
.home-nav-vs8 {
  padding: 0px;
  width: 16px;
  height: 1px;
  display: block;
}

.home-nav-hr-line {
  background-color: rgb(226, 226, 226);
  margin: 24px 0px 0px;
  border: none;
  height: 1px;
}

.banners-grid {
  grid-column: 1 / -1;
  min-width: 0px;
}

.banners-area {
  padding: 24px 40px;
  margin-right: -40px;
  margin-left: -40px;
}

.banners-flex {
  margin-bottom: -24px;
  margin-right: -12px;
  margin-left: -12px;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.banners-flex-2 {
  margin-left: 0%;
  margin-bottom: 24px;
  padding-right: 12px;
  padding-left: 12px;
  display: block;
  flex: none;
  width: 100%;
  box-sizing: border-box;
}

.banners-content {
  justify-content: center;
  display: flex;
  position: relative;
  width: 100%;
}

.banner {
  flex: none;
  width: calc(33.3333% + -16px);
  margin: 0px 12px;
}
/* Add banner */
.main-body {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: -24px;
}

.side-nav {
  /*width: 25%;*/
  margin-left: 0%;
  margin-bottom: 24px;
  padding-right: 12px;
  padding-left: 12px;
  display: block;
  flex: none;
  box-sizing: border-box;
}

.side-nav2 {
  max-height: 100vh;
  top: 0px;
  position: sticky;
  overflow-y: auto;
  display: flex;
}

.side-nav-content {
  max-width: 280px;
  flex: 1;
}

.side-nav-heading {
  margin-bottom: 24px;
}

.side-nav-heading2 {
  font-weight: 700;
  line-height: 36px;
  font-size: 28px;
  font-family: UberMove, sans-serif;
}
.flex1 {
  flex: 1;
}
.side-nav-sort-sec {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}

button {
  border-width: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

.side-nav-sort-toggle {
  display: flex;
  justify-content: space-between;
}

.side-nav-toggle-svg {
  line-height: 1;
  width: 24px;
  height: 24px;
}

.sort-options {
  padding: 12px 0px;
}

.opt-radio {
  pointer-events: none;
  outline: none;
  opacity: 0;
  position: absolute;
}

input {
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

.opt-label {
  font-weight: 500;
  font-family: UberMoveText, sans-serif;
  cursor: pointer;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.opt-label::before {
  vertical-align: top;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 50%;
  border: 8px solid rgb(0, 0, 0);
  box-sizing: border-box;
  display: flex;
}

.hs6 {
  width: 16px;
}

.sort-text {
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  cursor: pointer;
}

.vh8 {
  height: 16px;
}

.price-range-opt-sec {
  padding: 12px 0px;
}

.price-range-opt-sec2 {
  margin-bottom: -12px;
  margin-right: -6px;
  margin-left: -6px;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}

.dollar-range {
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  padding: 8px 12px;
  background: #eeeeee;
  border-radius: 500px;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  flex: none;
  cursor: pointer;
  color: #000000;
  white-space: nowrap;
}

.dollar-content {
  justify-content: center;
  font-weight: 500;
  font-family: UberMoveText, sans-serif;
  line-height: 16px;
  font-size: 14px;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.dietary-svg {
  fill: currentColor;
  flex: none;
  height: 20px;
  width: 20px;
}

.hs8 {
  width: 8px;
}

.vs24 {
  height: 24px;
}

.main-frame-content {
  width: 100%;
}

.main-frame-grids {
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

.main-frame-grid {
  min-width: 0px;
}
.main-frame-grid2 {
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.mf-grid-name {
  font-size: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
}

.mf-grid-contents {
  pointer-events: none;
  overflow: hidden;
  display: flex;
  position: relative;
}

.mf-grid-contents2 {
  width: 100%;
  position: relative;
}

.mf-grid-img {
  background: rgb(246, 246, 246);
  height: 128px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.grid-img-src {
  object-fit: cover;
  height: 100%;
  border: none;
  display: block;
  width: 100%;
}

.mf-grid-label {
  padding-right: 8px;
  padding-left: 8px;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}

.mf-grid-label-name {
  margin-top: 12px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.mf-grid-label-details {
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  display: flex;
}

.mf-grid-label-name2 {
  font-size: 18px;
  line-height: 24px;
  text-overflow: ellipsis;
  font-weight: 500;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hs4 {
  width: 1px;
}

.mg-grid-label-des {
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
}

.mf-grid-ratings {
  flex: 0 0 28px;
  font-size: 12px;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  background: #eeeeee;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.mf-grid-label-details {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.ticket-img {
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
}
.ticket-img2 {
  color: rgb(84, 84, 84);
  text-overflow: ellipsis;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.ticket-img3 {
  color: rgb(117, 117, 117);
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  font-family: UberMoveText, sans-serif;
}

.ticket-h2 {
  color: rgb(84, 84, 84);
}

.ticket-content {
  vertical-align: middle;
  line-height: 1;
}

.star {
  display: inline-flex;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  align-items: center;
  color: rgb(84, 84, 84);
}

.grid-label-del-fee {
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
}

.grid-label-del-fee-span {
  color: rgb(84, 84, 84);
  text-overflow: ellipsis;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.grid-label-del-fee2 {
  color: rgb(117, 117, 117);
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  font-family: UberMoveText, sans-serif;
}

.grid-label-del-fee-content {
  color: #000000;
}

.grid-label-time {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.grid-label-time-span {
  color: rgb(84, 84, 84);
  text-overflow: ellipsis;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.grid-label-del-time-content {
  color: rgb(117, 117, 117);
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
}
.customer-signup {
  color: green;
}

.signup_input {
  border: solid 2px;
}

.login_button,
.register_button {
  border: solid 1px;
}

/*Every Restaurant Page*/
.rest-main-content {
  margin: 0 auto;
  max-width: 1920px;
  box-sizing: border-box;
  min-width: 1024px;
}

.restaurant-banner {
  margin: 0px;
  background: rgb(246, 246, 246);
  width: 100%;
  position: relative;
}

.restaurant-banner2 {
  left: 0px;
  height: 100%;
  top: 0px;
  width: 100%;
}

.rest-banner-pic {
  object-fit: cover;
  height: 100%;
  border: none;
  display: block;
  width: 100%;
}

.rest-banner-figure {
  margin: 0px;
  background: rgb(246, 246, 246);
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.rest-banner-flex {
  min-height: 240px;
  background: transparent;
  flex-direction: column;
  display: flex;
  position: relative;
}

.rest-banner-flex-up {
  flex-basis: 80px;
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
}

.rest-banner-flex-mid {
  align-items: center;
  display: flex;
}

.rest-banner-flex-down {
  flex-basis: 140px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0) 100%);
  justify-content: space-between;
  display: flex;
}

.rest-banner-title-area {
  padding: 24px 0px;
  flex-direction: column;
  display: flex;
}

.rest-banner-title-area2_5 {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
}
.rest-banner-title-area3 {
  padding: 0px;
  z-index: 0;
  color: #ffffff;
  flex-grow: 0;
  box-sizing: border-box;
  display: flex;
}

.rest-banner-spacer {
  width: 40px;
  height: 1px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.rest-banner-title-area3 {
}

.rest-banner-spacer-40 {
  width: 40px;
  height: 1px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.rest-banner-title-content {
  font-weight: 700;
  font-family: UberMove, sans-serif;
  line-height: 44px;
  font-size: 36px;
  margin: 0;
}

.rest-banner-details {
  padding-top: 8px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: UberMoveText, sans-serif;
  display: flex;
  align-items: center;
}

.rest-banner-details2 {
}

.rest-banner-ticket {
  line-height: 24px;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.ticket {
  color: #545454;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  vertical-align: middle;
  line-height: 1;
}

.rest-banner-del-fee {
  margin: -1px;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
}

.rest-banner-del-fee2 {
  align-items: center;
  display: flex;
}

.rest-banner-del-time {
  margin: -1px;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
}

.rest-banner-spacer-2 {
  width: 2px;
}

.rest-banner-hidden {
  display: none;
}

.rest-banner-del-time2 {
  align-items: center;
  display: flex;
}

/*Addd favvv feature */

/*menu contents*/
.menu-main-sec {
  padding: 0 40px;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1920px;
  box-sizing: border-box;
}

.menu-headers-sec {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.menu-header-sec2 {
  padding-top: 30px;
  display: flex;
  position: relative;
  flex-direction: row;
}

.menu-header-nav {
  flex-wrap: wrap;
  flex: 1;
  height: 48px;
  overflow: hidden;
  display: flex;
}
.menu-nav-head {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.menu-nv-content {
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 30px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.menu-hr.line {
  background-color: rgb(226, 226, 226);
  margin: 0px;
  border: none;
  height: 1px;
}

.menu-list {
  list-style: none;
  display: block;
}

.menu-item {
  padding: 40px 0px 8px;
}

.menu-item-header {
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
  font-family: UberMove, sans-serif;
  padding-bottom: 24px;
}

.menu-item-title-sec {
  align-items: center;
  display: flex;
}

.menu-item-ticket2 {
  fill: rgb(5, 148, 79);
  height: 16px;
  width: 16px;
  flex: none;
}

.menu-item-spacer-16 {
  width: 16px;
}

.menu-item-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 24px;
  display: grid;
}

.mi-grid-item-sec {
  min-width: 0px;
  display: flex;
}

.mi-grid-item {
  text-decoration: none;
  flex: 1;
  cursor: pointer;
  display: flex;
}

.mi-grid-item2 {
  border: 1px solid rgb(226, 226, 226);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  position: relative;
}

.mi-grid-item3 {
  flex: 1;
  flex-direction: row;
  display: flex;
}

.mi-grid-item-details {
  padding: 16px;
  flex: 1;
  flex-direction: column;
  display: flex;
}

.mi-title {
  display: block;
}

.mi-title-label {
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: UberMoveText, sans-serif;
  align-items: center;
  display: flex;
  margin: 0;
}
.mi-title-label2 {
  overflow: hidden;
}

.mi-item-details {
  word-break: break-word;
  padding-top: 4px;
  display: -webkit-box;
  overflow: hidden;
}

.mi-item-details2 {
  line-height: 20px;
  color: #545454;
  font-weight: normal;
  font-family: UberMoveText, sans-serif;

  font-size: 14px;
}

.mi-item-price {
  align-items: flex-end;
  padding-top: 8px;
  flex: 1;
  display: flex;
}

.mi-item-price2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.mi-item-calo {
  color: #545454;
  display: inline-flex;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  align-items: center;
}

.mi-item-calo2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

.mi-item-pic {
  width: 158px;
  height: 158px;
  flex-shrink: 0;
}

.mi-item-img {
  width: 158px;
  height: 158px;
  object-fit: cover;
  opacity: 1;
  flex-shrink: 0;
}

/*Cart */
.cart-main {
  transition: opacity 500ms ease 0s;
  width: 432px;
  right: 82px;
  top: 62px;
  opacity: 1;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  background: #ffffff;
  color: #000000;
  z-index: 4;
  position: fixed;
}
.cart-main2 {
  overflow-y: scroll;
  max-height: calc(100vh - 150px);
}

.cart-header {
  z-index: 3;
  position: sticky;
  height: 48px;
  width: 100%;
  top: 0;
}

.cart-header-2 {
  transition: height 300ms ease 0s, opacity 300ms ease 0s;
  height: 0px;

  align-items: center;
  width: 100%;
  opacity: 0;
  position: absolute;
  display: flex;
}

.cart-close-hidden {
  padding: 12px;
  font-size: 18px;
  flex: 1 1 auto;
  text-align: center;
  line-height: 24px;
  text-overflow: ellipsis;
  font-weight: 500;
  font-family: UberMoveText, sans-serif;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
}

.cart-close-btn-sec {
  width: 48px;
  left: 8px;
  top: 8px;
  border-radius: 50%;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 1;
  height: 48px;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
  position: absolute;
  display: flex;
}

.cart-close-btn {
  line-height: 1;
  width: 24px;
  height: 24px;
}

.cart-body {
  padding: 0px 24px;
}

.cart-spacer {
  height: 24px;
}

.cart-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

.cart-spacer2 {
  height: 8px;
}

.cart-items,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.cart-item {
  flex-direction: row;
  display: flex;
  margin: 20px 0;
}

.cart-item-count {
  font-size: 16px;
  font-weight: normal;

  line-height: 24px;
}

.cart-item-count-dropdown {
  position: relative;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.cart-item-count-dropdown2 {
  width: 55px;
  height: 36px;
  padding: 0px 12px 0px 16px;
  outline: none;
  appearance: none;
  border: none;
  background: #eeeeee;
  border-radius: 500px;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  cursor: pointer;
  color: #000000;
  white-space: nowrap;
  flex-direction: row;
}

.fx {
  background: rgb(246, 246, 246);
}

.cart-dropdown-svg {
  right: 8px;
  top: calc(50% - 12px);
  pointer-events: none;
  position: absolute;
}

.cart-dropdown-svg2 {
  line-height: 1;
  width: 24px;
  height: 24px;
}

.cart-spacer3 {
  width: 16px;
}

.cart-store-link {
  margin-top: 4px;
  pointer-events: auto;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.cart-item-name {
  align-self: center;
  flex-grow: 1;
}

.cart-item-name2 {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

.cart-item-name-title {
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}

.cart-spacer4 {
  width: 8px;
  height: 1px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.cart-item-price {
  flex-grow: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.cart-item-desc {
  margin: 8px 0px 4px;
  line-height: 20px;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

.cart-item-desc2 {
  line-height: 20px;
  color: #545454;
  font-weight: normal;
  font-size: 14px;
  display: block;
}

.cart-checkout-sec2 {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 2.5%,
    rgba(255, 255, 255, 0.92) 55.35%
  );
  bottom: 0;
  right: 0;
  padding: 24px;
  left: 0;
  position: absolute;
}

.cart-checkout-sec {
  height: 104px;
}

.cart-checkout-btn {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px, rgb(0 0 0 / 4%) 0px 4px 4px;
  text-decoration: none;
  background: rgb(0, 0, 0);
  line-height: 20px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  display: flex;
  color: #ffffff;

  padding: 16px;
}

.cart-checkout-qty {
  min-width: 24px;
  border: 1px solid rgb(255, 255, 255);
  justify-content: center;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  height: 24px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.cart-checout-desc {
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}

.cart-checkout-total-price {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

/*Customer Login */

.cl-logo {
  position: absolute;
  background-color: #fff;
  height: auto !important;
  width: 100vw !important;
  top: 94px !important;
  left: 0 !important;
  margin-left: 0 !important;
}

.cl-logo2 {
  display: flex;
  justify-content: center;
  align-items: flex-start !important;
  padding: 0 !important;
}

.cl-logo3 {
}

.cl-logo4 {
  display: block !important;
  height: 32px;
  width: auto;
  max-width: inherit;
  color: #fff;
  font-style: italic;
  box-sizing: border-box;
}

.cl-stage-wrapper {
  flex: 1;
  width: 552px !important;
  max-width: calc(100vw - 32px) !important;

  margin-top: 199px !important;
  position: relative;
  z-index: 20;
  left: 0;
  right: 0;
  margin: 100px auto 0;
  box-sizing: border-box;
}

.cl-stage-wrapper2 {
  padding: 0 !important;
  box-sizing: border-box;
}

.cl-form {
  position: relative;
  z-index: 20;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cl-label {
  font-size: 30px;
  line-height: 36px;
  font-family: UberMoveText-Medium, Helvetica, sans-serif;
  margin-bottom: 36px;
  text-align: left;
  color: #262626;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cl-label2 {
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 8px !important;
  font-weight: inherit !important;
  display: block;
  color: #262626;
  box-sizing: border-box;
  font-family: UberMoveText, sans-serif;
}
.cl-spacer8{
  margin-bottom: 32px;
}
.cl-spacer24 {
  margin-bottom: 24px;
}

.cl-input {
  display: flex;
}

.text-input {
  font-family: UberMoveText, sans-serif !important;
  font-size: 16px !important;
  height: 48px !important;
  line-height: 24px !important;
  color: #262626 !important;
  border: 1px solid #e0e0e0 !important;
  font-weight: 500;
  background-clip: padding-box;
  width: 100%;
  padding: 8px 18px;
  background: #fff;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
}

.cl-error-caption {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: rgb(203, 56, 11);
  box-sizing: border-box;

}
.cl-error-caption-text{
  box-sizing: border-box;
}
.cl-next-btn {
  box-sizing: border-box;
}

.cl-next-btn2 {
  background-color: #3e9920;
    border-color: #3e9920;
    font-family: UberMoveText,Helvetica,sans-serif;
    height: 48px;
    font-size: 16px;
    font-weight: inherit;
    line-height: 24px;
    margin-top: 0;
    justify-content: center;
    display: flex;
    padding: 11px 20px!important;
    width: 100%;
    border-radius: 0;
    border: 2px solid #11939A;
    text-transform: uppercase;
    outline: 0;
    position: relative;
    transition: all .4s ease!important;
    text-decoration: none;
    color: #FFF;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    overflow: visible;
}

.cl-next-btn :hover{
  background-color: #2f7318;
    border-color: #2f7318;
}

.cl-next-btn-icon {
  font-size: 1.4em;
    transition: margin .4s ease;
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
}

.cl-small-push {
  text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    float: none!important;
    display: block;
    margin-top: 8px!important;
    margin-bottom: 24px!important;
    box-sizing: border-box;
}

.cl-signup-label {
  display: inline!important;
  letter-spacing: normal!important;
}

.cl-signup-link{
  color: #3e9920;
}

/*Customer signup*/
.cs-main{
  box-sizing: border-box;
  min-width: 450px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  margin-top: 100px;
}

.cs-main2{
  ine-height: 250%;
}

.cs-main-heading{
  text-align: center;
  font-weight: 400; 
  font-size: 32px;
}

.cs-main-hidden{

}

.cs-form{
  margin: 0 80px;
}

.cs-form2{
  display: block;
  margin-top: 0em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.cs-input-box{
  border-color: #e5e5e4;
  border-style: solid;
  border-width: 1px;
  transition: all 400ms ease;
  padding: 8px 18px;
  background: #ffffff;
  height: 52px;
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  width: 100%;

}

.cs-input-alert{
  box-sizing: border-box;
  color: #ca3b27;
  font-size: 12px;
}

.cs-input-label{
  font-size: 12px;
  margin-bottom: 4px;
  display: block;
  line-height: 24px;  
  font-weight: 500;
}
/*Customer profile */
.cust-profile-main {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  overflow: auto;
  margin-top: 8px;
  flex: 1;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.cust-profile-flex {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-direction: row;
}

.profile-sidebar {
  flex-shrink: 0;
  width: 224px;
  box-sizing: border-box;
}

.profile-sidebar2 {
  position: fixed;
}

.profile-sidebar-nav {
  background: #ffffff;
  width: 224px;
}
.profile-sidebar-nav-list {
  width: inherit;
  padding: 8px 0 0 0;
  list-style: none;
  display: block;
  margin: 0;
}

.profile-sidebar-nav-item {
  margin-bottom: 8px;
}

.cust-profile-frame {
  max-width: 100%;
  flex: 1;
}

.cust-profile-frame2 {
  width: 584px;
  padding-bottom: 24px;
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}

.cust-profile-contents {
  flex-direction: column;
  display: flex;
}

.cust-pro-title {
  width: 64px;
  height: 64px;
  display: inline-block;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-color: #276ef1;
  box-sizing: border-box;
}
